.browser-style > input[type="checkbox"],
.browser-style > input[type="radio"] {
    transition-duration: 250ms;
    transition-property: box-shadow;
    outline: none;
}
.browser-style > input[type="checkbox"]:focus:not(:checked),
.browser-style > input[type="radio"]:focus:not(:checked) {
    border-color: #0996f8;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}
.browser-style > input[type="text"],
.browser-style > input[type="url"],
.browser-style > input[type="password"],
textarea.browser-style {
    background-color: #fff;
    border: 1px solid #b1b1b1;
    box-shadow: 0 0 0 0 rgba(97, 181, 255, 0);
    font: caption;
    padding: 0 6px 0;
    transition-duration: 250ms;
    transition-property: box-shadow;
    outline: none;
}
textarea.browser-style {
    resize: vertical;
}
select.browser-style {
    margin-bottom: 0;
}
.browser-style > input[type="text"],
.browser-style > input[type="url"],
.browser-style > input[type="password"] {
    height: 24px;
}
.browser-style > input[type="url"] + button {
    margin-bottom: 0;
}
.browser-style > input[type="text"]:focus,
.browser-style > input[type="url"]:focus,
.browser-style > input[type="password"]:focus,
textarea.browser-style:focus,
select.browser-style:focus {
    border-color: #0996f8;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}
.browser-style > input[type="text"]:disabled,
.browser-style > input[type="url"]:disabled,
.browser-style > input[type="password"]:disabled,
textarea.browser-style:disabled {
    color: #999;
    opacity: .5;
}
.browser-style > input[type="text"]:invalid:not(:focus),
.browser-style > input[type="url"]:invalid:not(:focus),
textarea.browser-style:invalid:not(:focus) {
    border-color: #e22850;
    box-shadow: 0 0 0 1px #e22850,
    0 0 0 4px rgba(251, 0, 34, 0.3);
}

@media (prefers-color-scheme: dark) {
    html, body {
        background: #23222b;
        color: #fbfbfe;
    }
    .panel-section-header {
        border-color: #48484d;
    }
    .panel-section-separator {
        background: #48484d;
    }
    button.browser-style:not(.default),
    select.browser-style {
        background: #23222b;
        border-color: #7c7b82;
        color: #fff;
    }
    .browser-style > input[type="radio"]:not(:checked),
    .browser-style > input[type="checkbox"]:not(:checked) {
        background: #2b2a33;
        border-color: #7c7b82;
        border-width: 2px;
    }
    .browser-style > input[type="text"],
    .browser-style > input[type="url"],
    .browser-style > input[type="password"],
    textarea.browser-style {
        background: #23222b;
        border-color: #7c7b82;
        color: #fff;
    }
}
